<h1 id="titulo">Listando todos artigos</h1>
<p><%= link_to "Criar novo artigo", new_artigo_path %></p>
<table>
	<tr>
		<th>Titulo</th>
		<th>Descrição</th>
	</tr>

	<% @artigos.each do |artigo| %>
	<tr>
		<td><%= artigo.titulo %></td>
		<td><%= artigo.descricao %></td>
		<td><%= link_to :Edit, edit_artigo_path(artigo) %></td>
		<td><%= link_to :Show, artigo_path(artigo) %></td>
		<td><%= link_to :Delete, artigo_path(artigo), method: :delete, data: {confirm: "Você tem certeza?"} %></td>
	</tr>
	<% end %>
</table>