<h2 id="titulo">Título: <%= @artigo.titulo %></h2>
<div class="well col-xs-8 col-xs-offset-2">
	<h4 class="center descricao"><strong>Descrição:</strong></h4>
	<hr>
		<%= simple_format(@artigo.descricao) %>
	<div class="acoes-artigo">
		<%= link_to "Editar este artigo", edit_artigo_path(@artigo), class: "btn btn-sm btn-primary" %>
		<%= link_to "Deletar esse artigo", artigo_path(@artigo), method: :delete,
		  							data: { confirm: "Você tem certeza que deseja deletar esse artigo?" }, 
		  							class: "btn btn-sm btn-danger"%>
		<%= link_to "Visualizar todos artigos", artigos_path, class: "btn btn-sm btn-success" %>
	</div>
</div>