<h2 id="titulo">Título: <%= @artigo.titulo %></h2>
<div class="col-xs-8 col-xs-offset-2">
	<% if @artigo.usuario %>
	<ul class="listando">
		<div class="row">
			<div class="well">
				<li>Criado por: </li>
				<li>
					<%= link_to gravatar_for(@artigo.usuario), usuario_path(@artigo.usuario) %>
				</li>
				<li class="titulo-artigo">
					<%= link_to @artigo.usuario.username, usuario_path(@artigo.usuario) %>
				</li>
				<li>
					<small>
						<%= pluralize(@artigo.usuario.artigos.count, "artigo") if @artigo.usuario.artigos %>
					</small>
				</li>
			</div>
		</div>
	</ul>
	<% end %>
	<h4 class="center descricao"><strong>Descrição:</strong></h4>
	<hr>
		<%= simple_format(@artigo.descricao) %>
	<div class="acoes-artigo">
		<%= link_to "Editar este artigo", edit_artigo_path(@artigo), class: "btn btn-sm btn-primary" %>
		<%= link_to "Deletar esse artigo", artigo_path(@artigo), method: :delete,
		  							data: { confirm: "Você tem certeza que deseja deletar esse artigo?" }, 
		  							class: "btn btn-sm btn-danger"%>
		<%= link_to "Visualizar todos artigos", artigos_path, class: "btn btn-sm btn-success" %>
	</div>
</div>